<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form>
     <p>Team Name: <input type="text" name="name"></p>
     Coach
     
   </form>
 </body>
</html>


